*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
gradlew.bat
gradlew
app/proguard-rules.pro
arclayoutlibs/proguard-rules.pro
arclayoutlibs/consumer-rules.pro
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
